body {
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
}

.navbar, .navbar .brand {
  font-size: 14px;
}

.navbar .nav {
  float: none;
}

h1 {
  font-size: 28px;
}

h1, h2, h3 {
  line-height: 42px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
}

.center {
  text-align: center;
}

.caption {
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.navbar .nav>li>a {
  padding: 10px 20px;
}

.hero-unit {
  padding: 20px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 100;
}

li {
  line-height: 1.5;
}

