<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
<div id="art-main">
  <div class="cleared reset-box"></div>
  {{# page.header }}
    {{> header }}
  {{/ page.header }}
  {{> nav }}
  <div class="art-box art-sheet">
    <div class="art-box-body art-sheet-body">
      <div class="art-layout-wrapper">
        <div class="art-content-layout">
          <div class="art-content-layout-row">
            {{# page.sidebars.left }}
              {{> sidebar }}
            {{/ page.sidebars.left }}
            {{> main }}
            {{# page.sidebars.right }}
              {{> sidebar }}
            {{/ page.sidebars.right }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer }}
</div>
{{{ analytics }}}
</body>
</html>
