<head>
  <meta charset="utf-8" />
  <title>{{ site.title }} - {{ page.title }}</title>
  {{# page.description }}
    <meta name="description" content="{{ . }}" />
  {{/ page.description }}
  <meta name="author" content="{{ site.author.name }}" />
  {{{ assets }}}
  <!--[if IE 6]><link rel="stylesheet" href="{{ urls.theme_stylesheets }}/style.ie6.css" type="text/css" media="screen" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="{{ urls.theme_stylesheets }}/style.ie7.css" type="text/css" media="screen" /><![endif]-->
  <link rel="shortcut icon" href="{{ urls.theme_media }}/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="Minimak RSS Feed" href="http://www.minimak.org/rss.html" />
  <script type="text/javascript">
    Cufon.replace('.art-post h1');
	</script>
  <script>
    (function() {
      var cx = '004856056704220715324:c9krpcwsddw';
      var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <meta name="wot-verification" content="b26c2803a722c1d49548"/>
  <!-- Start of Woopra Code -->
  <script type="text/javascript">
  function woopraReady(tracker) {
      tracker.setDomain('minimak.org');
      tracker.setIdleTimeout(1800000);
      tracker.track();
      return false;
  }
  (function() {
      var wsc = document.createElement('script');
      wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
      wsc.type = 'text/javascript';
      wsc.async = true;
      var ssc = document.getElementsByTagName('script')[0];
      ssc.parentNode.insertBefore(wsc, ssc);
  })();
  </script>
  <!-- End of Woopra Code -->
  {{{ page.head-data }}}
</head>
